body::-webkit-scrollbar {
  display: none;
}


html {
    background-color: #0B203B;
}

#treeContainer {
  position: relative;
  width: 80vw;
  height: 100vh;
  left: 10%;
  margin: 1em auto;
  overflow: hidden;
}

svg#tree {
  width: 100%;
  height: 100%;
}

.resetContainer {
  position:fixed;
  right: 5vw;
  bottom: 5vh;
}

.resetViewBtn {
  background-color: transparent;
  border: none;
  background-image: url(./home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width:3vw;
  height:3vw;
}

.node {
  fill: #f0f0f0;
  stroke: #333;
  stroke-width: 1;
}

.lockedNode {
  fill: #737272;
  stroke: #333;
  stroke-width: 1;
}

.currentNode {
  fill: #65ec0a;
  stroke: #333;
  stroke-width: 1;
}

.root {
  fill: #42ffff;
}

.label {
  font: 12px sans-serif;
  text-anchor: middle;
}

line {
  stroke: #aaa;
  stroke-width: 2;
}

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #33557F;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.titleContainer {
  text-align: center;
}

.titleContainer h1 {
  font-size: clamp(1px, calc(1.42*(-4px + 3vw)), 50px);
  line-height: 50px;
  color: black;
  font-family: Impact, sans-serif;
}

.gameContainer {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.imageContainer img {
  width: 19vw;
  height: 28.5vw;
  object-fit: cover;
}

.buttonContainer{
  position: absolute;
  bottom: 5%;
  left:50%;
  transform: translateX(-50%);
  width: 50%;

}

.buttonContainer h3 {
  transform: translateX(-33%) translateY(100%);
  font-family: Impact, sans-serif;
  font-size: clamp(1px, calc(0.964px + 3.596vw), 70px);
  -webkit-text-fill-color: #ff0000;
}

.buttonContainer button {
  font-family: Impact, sans-serif;
  font-size: clamp(1px, calc(-4px + 3vw), 35px);
}

.bottombuttons {
  position: fixed;
  bottom: 1%;
  display:flex;
  direction: horizontal;
  left:1%;
  width: 18%;
  height: 10%;
}

.bottombuttons button {
  width: 50%;
  height: 100%;

  font-size: clamp(1px, calc(-4px + 3vw), 35px);
}

.selectTree {
  position: fixed;
  bottom: 12%;
  left: 1%;
  width:18%;
  height:10%;
  text-align: center;
  font-size:clamp(1px, calc(-4px + 3vw), 35px);
}

.points {
  position: fixed;
  top:0px;
  left:22%;
  color:#aaa;
  z-index: 50;
  text-align: center;
  font-family: Impact, sans-serif;
  font-size:clamp(2px, calc(2*(-4px + 3vw)), 70px);
}


